<h1>Editing phone</h1>

<%= render "form", phone: @phone %>

<br>

<div>
  <%= link_to "Show this phone", @phone %> |
  <%= link_to "Back to phones", phones_path %>
  <br><br><br>
  <%= button_to "Destroy this phone", @phone, method: :delete %>
</div>
