<div class="ms-5 me-5 mt-5 col-lg-6 mx-lg-auto">
<h1>Изменение строки</h1>

<%= render "form", timesheet: @timesheet %>

<br>

  <div>
    <%= link_to "назад", timesheets_path, class: "btn btn-primary mt-5 text-white text-decoration-none", style: "width: 8rem" %>
    <br><br><br>
    <%= button_to "удалить эту строку", @timesheet, method: :delete, class: "btn btn-danger mt-5 text-white text-decoration-none", style: "width: 8rem" %>
    <br><br><br>
  </div>
</div>