<div class="ms-5 me-5 mt-3 col-lg-6 mx-lg-auto">
<h1>Новая строка</h1>

<%= render "form", timesheet: @timesheet %>

<br>

  <div class="mb-3">
    <%= link_to "назад", timesheets_path, class: "btn btn-primary text-white text-decoration-none", style: "width: 8rem" %>
  </div>
</div>